@charset "UTF-8";
:root {
  --font-family: "Nunito Sans", sans-serif;
  --second-family: "Audiowide", cursive;
  --content-width: 1200px;
  --container-offset: 15px;
  --offset: 24px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --light-color: #fff;
}

/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable value-keyword-case */
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
  background-color: #2A2634;
  color: #fff;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important;
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

@media screen and (min-width: 1201px) {
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(149.3deg, #F35DED 45.14%, #ee5df3 69.45%);
    border-radius: 15px;
  }
  ::-webkit-scrollbar {
    width: 14px;
    height: 25px;
    background: #2A2634;
  }
}
.nft-modal {
  border-radius: 15px;
}

.nft-modal div:where(.swal2-icon).swal2-warning {
  border-color: #534c64;
  color: #F35DED;
}

div:where(.swal2-container) h2:where(.swal2-title) {
  font-family: var(--second-family) !important;
}

.nft-modal .swal2-styled {
  outline: red;
  background-color: #ee5df3 !important;
}

#particles-js {
  z-index: -1;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #2a2634;
}

#stats, .count-particles {
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}

#stats {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles {
  border-radius: 0 0 3px 3px;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: linear-gradient(149.3deg, #F35DED 65.14%, #F3B75D 89.45%);
  -webkit-box-shadow: inset 0px 4px 33px rgba(255, 255, 255, 0.37);
  box-shadow: inset 0px 4px 33px rgba(255, 255, 255, 0.37);
  border-radius: 15px;
  font-family: var(--second-family);
  font-size: 16px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 24px 44px;
  -webkit-transition: color 0.3s ease, border-radius 0.3s ease;
  transition: color 0.3s ease, border-radius 0.3s ease;
}
.btn:hover {
  background: linear-gradient(149.3deg, #F3B75D 67.79%, #F35DED 89.45%);
  color: #2A2634;
  border-radius: 20px;
  -webkit-transition: color 0.2s ease, border-radius 0.7s ease;
  transition: color 0.2s ease, border-radius 0.7s ease;
}

.title {
  font-size: 36px;
  text-transform: uppercase;
  font-weight: 400;
  font-family: var(--second-family);
}

.header {
  padding-top: 24px;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header__btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: auto;
}
.header__btn {
  display: inline-block;
  padding: 11px 65px;
  background: linear-gradient(149.3deg, #F3B75D 67.79%, #F35DED 89.45%);
  -webkit-box-shadow: inset 0px 4px 33px rgba(255, 255, 255, 0.37);
  box-shadow: inset 0px 4px 33px rgba(255, 255, 255, 0.37);
  border-radius: 15px;
  font-family: var(--second-family);
  font-size: 14px;
  line-height: 30px;
  color: #2A2634;
  text-transform: uppercase;
  -webkit-transition: color 0.2s ease, border-radius 0.3s ease;
  transition: color 0.2s ease, border-radius 0.3s ease;
}
.header__btn:hover {
  background: linear-gradient(149.3deg, #F35DED 65.14%, #F3B75D 89.45%);
  color: #fff;
  -webkit-transition: color 0.2s ease, border-radius 0.7s ease;
  transition: color 0.2s ease, border-radius 0.7s ease;
  border-radius: 20px;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.logo__moon {
  -webkit-transition: -webkit-transform 0.8s ease;
  transition: -webkit-transform 0.8s ease;
  transition: transform 0.8s ease;
  transition: transform 0.8s ease, -webkit-transform 0.8s ease;
}
.logo:hover .logo__moon {
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  -webkit-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  transform: rotate(20deg);
}
.logo__text {
  position: relative;
  right: 6px;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}
.logo:hover .logo__text {
  -webkit-transform: translateX(5px);
  -ms-transform: translateX(5px);
  transform: translateX(5px);
}

.nav {
  margin-left: 240px;
}
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 15px;
  color: #C6C5C7;
  gap: 26px;
}
.nav__link {
  color: inherit;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
  padding: 4px;
}
.nav__link:hover {
  color: #fff;
}

.cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #fff;
  width: 52px;
  height: 52px;
  border-radius: 10px;
  background-color: #2A2634;
  cursor: pointer;
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
  position: relative;
  margin-right: 32px;
}
.cart:hover {
  background-color: #575266;
}
.cart__count {
  position: absolute;
  top: 7px;
  right: 7px;
  min-width: 18px;
  min-height: 18px;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #E455DF;
  font-family: var(--second-family);
  font-size: 11px;
}

.cart:hover .cart__bell {
  -webkit-animation: shake 1s ease;
  animation: shake 1s ease;
}

@-webkit-keyframes shake {
  0%, 100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  20%, 80% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }
  40%, 60% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }
}

@keyframes shake {
  0%, 100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  20%, 80% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }
  40%, 60% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }
}
.hero {
  padding-top: 85px;
  padding-bottom: 50px;
}
.hero__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
  -webkit-column-gap: var(--offset);
  -moz-column-gap: var(--offset);
  column-gap: var(--offset);
}
.hero__content {
  -ms-grid-column-span: 6;
  grid-column: 6 span;
  margin-top: 100px;
}
.hero__video {
  width: 100%;
  height: 100%;
  -ms-grid-column-span: 6;
  grid-column: 6 span;
}
.hero__subtitle {
  display: inline-block;
  margin: 0;
  margin-bottom: 50px;
  font-family: var(--second-family);
  font-size: 16px;
  text-transform: uppercase;
  padding: 10px;
  background-color: #3E3A49;
  border-radius: 5px;
}
.hero__title {
  margin: 0;
  margin-bottom: 20px;
  font-family: var(--second-family);
  font-size: 48px;
}
.hero__descr {
  margin: 0;
  font-size: 20px;
}
.hero__btn {
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: linear-gradient(149.3deg, #F35DED 65.14%, #F3B75D 89.45%);
  -webkit-box-shadow: inset 0px 4px 33px rgba(255, 255, 255, 0.37);
  box-shadow: inset 0px 4px 33px rgba(255, 255, 255, 0.37);
  border-radius: 15px;
  font-family: var(--second-family);
  font-size: 16px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 22px 76px 22px 52px;
  position: relative;
  -webkit-transition: border-radius 0.3s ease;
  transition: border-radius 0.3s ease;
}
.hero__btn::after {
  content: "";
  display: inline-block;
  position: absolute;
  left: 215px;
  width: 15px;
  height: 15px;
  background-image: url(../img/btn-arrow.svg);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.hero__btn:hover::after {
  -webkit-transform: translateX(5px);
  -ms-transform: translateX(5px);
  transform: translateX(5px);
}
.hero__btn:hover {
  background: linear-gradient(149.3deg, #F3B75D 67.79%, #F35DED 89.45%);
  border-radius: 20px;
  -webkit-transition: border-radius 0.7s ease;
  transition: border-radius 0.7s ease;
}

.hero__subtitle--animate {
  --col1: rgba(228, 19, 141, 0.925);
  --col2: rgb(255, 179, 80);
  font-weight: 600;
  -webkit-perspective: 800px;
  perspective: 800px;
  position: relative;
}

.hero__subtitle--animate::after,
.hero__subtitle--animate::before,
.hero__subtitle--animate span::after,
.hero__subtitle--animate span::before {
  -webkit-perspective: 800px;
  perspective: 800px;
  -webkit-animation: anim 2s ease-in-out infinite, dotMove 10s ease-out alternate infinite, move 10s linear infinite 1s;
  animation: anim 2s ease-in-out infinite, dotMove 10s ease-out alternate infinite, move 10s linear infinite 1s;
  content: "●";
  color: var(--col1);
  position: absolute;
  translate: -60px 500px;
  width: 5px;
  height: 5px;
}

.hero__subtitle--animate::before {
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
  color: var(--col1);
}

.hero__subtitle--animate span::before {
  color: var(--col2);
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.hero__subtitle--animate span::after {
  color: var(--col2);
}

.hero__subtitle--animate span {
  -webkit-animation: anim 5s ease infinite, move 10s linear infinite 1s;
  animation: anim 5s ease infinite, move 10s linear infinite 1s;
  color: transparent;
  background-image: -webkit-gradient(linear, left top, right top, from(var(--col1)), to(var(--col2)));
  background-image: linear-gradient(90deg, var(--col1) 0%, var(--col2) 100%);
  background-clip: text;
  background-size: 100%;
  background-repeat: no-repeat;
  -webkit-transform: skew(5deg, -5deg);
  -ms-transform: skew(5deg, -5deg);
  transform: skew(5deg, -5deg);
  -webkit-background-clip: text;
  position: relative;
}

@-webkit-keyframes anim {
  0%, 100% {
    text-shadow: 2px 0px 2px rgba(179, 158, 158, 0.5);
  }
  50% {
    background-size: 0%;
    background-position-x: left;
    text-shadow: 2px 10px 6px rgb(179, 158, 158);
  }
}

@keyframes anim {
  0%, 100% {
    text-shadow: 2px 0px 2px rgba(179, 158, 158, 0.5);
  }
  50% {
    background-size: 0%;
    background-position-x: left;
    text-shadow: 2px 10px 6px rgb(179, 158, 158);
  }
}
@-webkit-keyframes move {
  50% {
    translate: 0px 0px;
    rotate: x 60deg;
    -webkit-transform: skew(-5deg, 5deg);
    transform: skew(-5deg, 5deg);
  }
}
@keyframes move {
  50% {
    translate: 0px 0px;
    rotate: x 60deg;
    -webkit-transform: skew(-5deg, 5deg);
    transform: skew(-5deg, 5deg);
  }
}
@-webkit-keyframes dotMove {
  0%, 100% {
    translate: -60px 300px;
  }
  50% {
    translate: 160px -250px;
    scale: 0.5;
    opacity: 0.85;
  }
}
@keyframes dotMove {
  0%, 100% {
    translate: -60px 300px;
  }
  50% {
    translate: 160px -250px;
    scale: 0.5;
    opacity: 0.85;
  }
}
.win {
  padding-bottom: 100px;
}
.win__box {
  background-image: url(../img/win-bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 26px 20px 26px 56px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #544F61;
  position: relative;
}
.win__img {
  position: absolute;
  bottom: 0;
  left: 50px;
  height: 100%;
  min-height: 154px;
}
.win__title {
  margin: 0;
  margin-right: 30px;
  margin-left: 194px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 52px;
}
.win__descr {
  margin: 0;
  margin-right: 40px;
  font-weight: 600;
  font-size: 16px;
  max-width: 180px;
}
.win__btn {
  margin-left: auto;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.art {
  margin-bottom: 900px;
}
.art__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 40px;
}
.art__title-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  font-family: var(--second-family);
}
.art__title {
  margin: 0;
}
.art__counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-left: 5px;
  background-color: #F46AEE;
  padding: 2px;
  min-height: 30px;
  min-width: 30px;
  border-radius: 3px;
  color: #fff;
  font-size: 14px;
  -webkit-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  transform: translateY(-10px);
}

.art__btn-box {
  font-family: var(--second-family);
  display: block;
  cursor: pointer;
  color: #A08094;
  text-transform: uppercase;
  position: relative;
  text-decoration: none;
  font-weight: 400;
  border-radius: 10px;
  overflow: hidden;
  padding: 1px;
  isolation: isolate;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.art__btn-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 400%;
  height: 100%;
  background: linear-gradient(115deg, #f148ec, #F3B75D, #fecc82, #F35DED, #f31cec);
  background-size: 25% 100%;
  -webkit-animation: an-at-keyframe-css-at-rule-that-translates-via-the-transform-property-the-background-by-negative-25-percent-of-its-width-so-that-it-gives-a-nice-border-animation_-We-use-the-translate-property-to-have-a-nice-transition-so-it_s-not-a-jerk-of-a-start-or-stop 0.75s linear infinite;
  animation: an-at-keyframe-css-at-rule-that-translates-via-the-transform-property-the-background-by-negative-25-percent-of-its-width-so-that-it-gives-a-nice-border-animation_-We-use-the-translate-property-to-have-a-nice-transition-so-it_s-not-a-jerk-of-a-start-or-stop 0.75s linear infinite;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
  translate: -5% 0%;
  -webkit-transition: translate 0.25s ease-out;
  transition: translate 0.25s ease-out;
}

.art__btn-box:hover {
  color: #fff;
}

.art__btn-box:hover::before {
  -webkit-animation-play-state: running;
  animation-play-state: running;
  -webkit-transition-duration: 0.75s;
  transition-duration: 0.75s;
  translate: 0% 0%;
}

@-webkit-keyframes an-at-keyframe-css-at-rule-that-translates-via-the-transform-property-the-background-by-negative-25-percent-of-its-width-so-that-it-gives-a-nice-border-animation_-We-use-the-translate-property-to-have-a-nice-transition-so-it_s-not-a-jerk-of-a-start-or-stop {
  to {
    -webkit-transform: translateX(-25%);
    transform: translateX(-25%);
  }
}

@keyframes an-at-keyframe-css-at-rule-that-translates-via-the-transform-property-the-background-by-negative-25-percent-of-its-width-so-that-it-gives-a-nice-border-animation_-We-use-the-translate-property-to-have-a-nice-transition-so-it_s-not-a-jerk-of-a-start-or-stop {
  to {
    -webkit-transform: translateX(-25%);
    transform: translateX(-25%);
  }
}
.art__btn-box span {
  position: relative;
  display: block;
  padding: 12px 40px;
  font-size: 14px;
  background: #2B2735;
  border-radius: 10px;
  height: 100%;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 24px;
}

.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 384px;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  padding: 26px;
  overflow: hidden;
  border-radius: 15px;
  -webkit-transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  background: rgba(255, 255, 255, 0.15);
}

.card__top {
  border-radius: 20px;
  height: 381px;
  width: 384px;
  margin-bottom: 10px;
  overflow: hidden;
  border: 2px solid transparent;
  -webkit-animation: rainbow 5s ease infinite;
  animation: rainbow 5s ease infinite;
}

@-webkit-keyframes rainbow {
  0% {
    border-color: #f148ec;
  }
  25% {
    border-color: #F3B75D;
  }
  50% {
    border-color: #fecc82;
  }
  75% {
    border-color: #F35DED;
  }
  100% {
    border-color: #f31cec;
  }
}

@keyframes rainbow {
  0% {
    border-color: #f148ec;
  }
  25% {
    border-color: #F3B75D;
  }
  50% {
    border-color: #fecc82;
  }
  75% {
    border-color: #F35DED;
  }
  100% {
    border-color: #f31cec;
  }
}
.card__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  color: #fff;
  -webkit-transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.card__title {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 24px;
  font-family: var(--second-family);
}

.card__text {
  margin: 0;
  margin-bottom: 20px;
  max-width: 274px;
  font-size: 15px;
  margin-right: 10px;
}

.card__inner-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.card__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 10px;
  padding-bottom: 6px;
  max-width: 60px;
  border-radius: 10px;
  color: #353034;
  text-align: center;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
  font-family: var(--second-family);
  background: -webkit-gradient(linear, left top, left bottom, from(#FFF3CA), to(#F9B3CC));
  background: linear-gradient(180deg, #FFF3CA 0%, #F9B3CC 100%);
  -webkit-transition: background 0.8s ease;
  transition: background 0.8s ease;
}

.card:hover .card__right {
  background: #f1f1f1;
}

.card__price {
  margin: 0;
  margin-top: 6px;
}

.card__btn {
  font-family: var(--second-family);
  display: block;
  position: relative;
  mix-blend-mode: color-dodge;
  -webkit-perspective: 500px;
  perspective: 500px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  font-size: 12px;
  text-transform: uppercase;
  cursor: pointer;
  color: #D8C5D1;
  padding: 13px 30px;
  border-radius: 10px;
  border: 1px solid #9876ea;
}

.card__btn:before, .card__btn:after {
  --z: 0px;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  opacity: 0;
  mix-blend-mode: inherit;
  border-radius: inherit;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translate3d(calc(var(--z) * 0px), calc(var(--z) * 0px), calc(var(--z) * 0px));
  transform: translate3d(calc(var(--z) * 0px), calc(var(--z) * 0px), calc(var(--z) * 0px));
}

.card__btn span {
  mix-blend-mode: none;
  display: block;
}

.card__btn:after {
  background-color: #5D00FF;
}

.card__btn:before {
  background-color: #FF1731;
}

.card__btn:hover {
  background-color: #FFF65B;
  -webkit-transition: background 0.3s 0.1s;
  transition: background 0.3s 0.1s;
}

.card__btn:hover:before {
  --z: 0.04;
  -webkit-animation: translateWobble 2.2s ease forwards;
  animation: translateWobble 2.2s ease forwards;
}

.card__btn:hover:after {
  --z: -0.06;
  -webkit-animation: translateWobble 2.2s ease forwards;
  animation: translateWobble 2.2s ease forwards;
}

@-webkit-keyframes rotateAngle {
  0% {
    -webkit-transform: rotateY(0deg) rotateX(10deg);
    transform: rotateY(0deg) rotateX(10deg);
    -webkit-animation-timing-function: cubic-bezier(0.61, 1, 0.88, 1);
    animation-timing-function: cubic-bezier(0.61, 1, 0.88, 1);
  }
  25% {
    -webkit-transform: rotateY(20deg) rotateX(10deg);
    transform: rotateY(20deg) rotateX(10deg);
  }
  50% {
    -webkit-transform: rotateY(0deg) rotateX(10deg);
    transform: rotateY(0deg) rotateX(10deg);
    -webkit-animation-timing-function: cubic-bezier(0.61, 1, 0.88, 1);
    animation-timing-function: cubic-bezier(0.61, 1, 0.88, 1);
  }
  75% {
    -webkit-transform: rotateY(-20deg) rotateX(10deg);
    transform: rotateY(-20deg) rotateX(10deg);
  }
  100% {
    -webkit-transform: rotateY(0deg) rotateX(10deg);
    transform: rotateY(0deg) rotateX(10deg);
  }
}

@keyframes rotateAngle {
  0% {
    -webkit-transform: rotateY(0deg) rotateX(10deg);
    transform: rotateY(0deg) rotateX(10deg);
    -webkit-animation-timing-function: cubic-bezier(0.61, 1, 0.88, 1);
    animation-timing-function: cubic-bezier(0.61, 1, 0.88, 1);
  }
  25% {
    -webkit-transform: rotateY(20deg) rotateX(10deg);
    transform: rotateY(20deg) rotateX(10deg);
  }
  50% {
    -webkit-transform: rotateY(0deg) rotateX(10deg);
    transform: rotateY(0deg) rotateX(10deg);
    -webkit-animation-timing-function: cubic-bezier(0.61, 1, 0.88, 1);
    animation-timing-function: cubic-bezier(0.61, 1, 0.88, 1);
  }
  75% {
    -webkit-transform: rotateY(-20deg) rotateX(10deg);
    transform: rotateY(-20deg) rotateX(10deg);
  }
  100% {
    -webkit-transform: rotateY(0deg) rotateX(10deg);
    transform: rotateY(0deg) rotateX(10deg);
  }
}
@-webkit-keyframes translateWobble {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(calc(var(--z) * 0px), calc(var(--z) * 0px), calc(var(--z) * 0px));
    transform: translate3d(calc(var(--z) * 0px), calc(var(--z) * 0px), calc(var(--z) * 0px));
  }
  16% {
    -webkit-transform: translate3d(calc(var(--z) * 160px), calc(var(--z) * 160px), calc(var(--z) * 160px));
    transform: translate3d(calc(var(--z) * 160px), calc(var(--z) * 160px), calc(var(--z) * 160px));
  }
  28% {
    opacity: 1;
    -webkit-transform: translate3d(calc(var(--z) * 70px), calc(var(--z) * 70px), calc(var(--z) * 70px));
    transform: translate3d(calc(var(--z) * 70px), calc(var(--z) * 70px), calc(var(--z) * 70px));
  }
  44% {
    -webkit-transform: translate3d(calc(var(--z) * 130px), calc(var(--z) * 130px), calc(var(--z) * 130px));
    transform: translate3d(calc(var(--z) * 130px), calc(var(--z) * 130px), calc(var(--z) * 130px));
  }
  59% {
    -webkit-transform: translate3d(calc(var(--z) * 85px), calc(var(--z) * 85px), calc(var(--z) * 85px));
    transform: translate3d(calc(var(--z) * 85px), calc(var(--z) * 85px), calc(var(--z) * 85px));
  }
  73% {
    -webkit-transform: translate3d(calc(var(--z) * 110px), calc(var(--z) * 110px), calc(var(--z) * 110px));
    transform: translate3d(calc(var(--z) * 110px), calc(var(--z) * 110px), calc(var(--z) * 110px));
  }
  88% {
    opacity: 1;
    -webkit-transform: translate3d(calc(var(--z) * 90px), calc(var(--z) * 90px), calc(var(--z) * 90px));
    transform: translate3d(calc(var(--z) * 90px), calc(var(--z) * 90px), calc(var(--z) * 90px));
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(calc(var(--z) * 100px), calc(var(--z) * 100px), calc(var(--z) * 100px));
    transform: translate3d(calc(var(--z) * 100px), calc(var(--z) * 100px), calc(var(--z) * 100px));
  }
}
@keyframes translateWobble {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(calc(var(--z) * 0px), calc(var(--z) * 0px), calc(var(--z) * 0px));
    transform: translate3d(calc(var(--z) * 0px), calc(var(--z) * 0px), calc(var(--z) * 0px));
  }
  16% {
    -webkit-transform: translate3d(calc(var(--z) * 160px), calc(var(--z) * 160px), calc(var(--z) * 160px));
    transform: translate3d(calc(var(--z) * 160px), calc(var(--z) * 160px), calc(var(--z) * 160px));
  }
  28% {
    opacity: 1;
    -webkit-transform: translate3d(calc(var(--z) * 70px), calc(var(--z) * 70px), calc(var(--z) * 70px));
    transform: translate3d(calc(var(--z) * 70px), calc(var(--z) * 70px), calc(var(--z) * 70px));
  }
  44% {
    -webkit-transform: translate3d(calc(var(--z) * 130px), calc(var(--z) * 130px), calc(var(--z) * 130px));
    transform: translate3d(calc(var(--z) * 130px), calc(var(--z) * 130px), calc(var(--z) * 130px));
  }
  59% {
    -webkit-transform: translate3d(calc(var(--z) * 85px), calc(var(--z) * 85px), calc(var(--z) * 85px));
    transform: translate3d(calc(var(--z) * 85px), calc(var(--z) * 85px), calc(var(--z) * 85px));
  }
  73% {
    -webkit-transform: translate3d(calc(var(--z) * 110px), calc(var(--z) * 110px), calc(var(--z) * 110px));
    transform: translate3d(calc(var(--z) * 110px), calc(var(--z) * 110px), calc(var(--z) * 110px));
  }
  88% {
    opacity: 1;
    -webkit-transform: translate3d(calc(var(--z) * 90px), calc(var(--z) * 90px), calc(var(--z) * 90px));
    transform: translate3d(calc(var(--z) * 90px), calc(var(--z) * 90px), calc(var(--z) * 90px));
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(calc(var(--z) * 100px), calc(var(--z) * 100px), calc(var(--z) * 100px));
    transform: translate3d(calc(var(--z) * 100px), calc(var(--z) * 100px), calc(var(--z) * 100px));
  }
}
.card::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 6px;
  height: 100%;
  background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100%);
  z-index: -1;
  -webkit-transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.card:hover::before {
  width: 100%;
}

.card:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.card:hover .card__btn {
  color: #212121;
  background: #e8e8e8;
}

.card__btn:hover {
  outline: 2px solid #e8e8e8;
  background-color: transparent;
  color: #e8e8e8;
}

.card__btn:active {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.Crystal {
  position: relative;
}
.Crystal .Center {
  background-color: #006329;
  height: 24px;
  width: 20px;
  position: relative;
  z-index: 0;
}
.Crystal .Center:after, .Crystal .Center:before {
  -webkit-animation: CenterAfter 1s linear infinite;
  animation: CenterAfter 1s linear infinite;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  width: 100%;
  z-index: 1;
}
.Crystal .Center:before {
  -webkit-animation: CenterBefore 1s linear infinite;
  animation: CenterBefore 1s linear infinite;
  z-index: 2;
}
.Crystal .Point {
  -webkit-clip-path: polygon(0 100%, 50% 0, 100% 100%);
  clip-path: polygon(0 100%, 50% 0, 100% 100%);
  height: 8px;
  background-color: #01953e;
  z-index: 0;
}
.Crystal .Point:after, .Crystal .Point:before {
  -webkit-animation: PointBeforeLight 1s linear infinite;
  animation: PointBeforeLight 1s linear infinite;
  content: "";
  -webkit-clip-path: polygon(0 100%, 50% 0, 100% 100%);
  clip-path: polygon(0 100%, 50% 0, 100% 100%);
  height: 8px;
  background-color: #01fb68;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  transform-origin: 50% 0;
  z-index: 2;
}
.Crystal .Point:after {
  -webkit-animation: PointAfterLight 1s linear infinite;
  animation: PointAfterLight 1s linear infinite;
  z-index: 1;
  -webkit-transform: scaleX(0.54) skew(51deg);
  -ms-transform: scaleX(0.54) skew(51deg);
  transform: scaleX(0.54) skew(51deg);
  background-color: #64fea3;
}
.Crystal .Point:last-child {
  -webkit-transform: rotate(180deg) scaleX(-1);
  -ms-transform: rotate(180deg) scaleX(-1);
  transform: rotate(180deg) scaleX(-1);
  background-color: #003014;
}
.Crystal .Point:last-child:before {
  -webkit-animation: PointBeforeDark 1s linear infinite;
  animation: PointBeforeDark 1s linear infinite;
}
.Crystal .Point:last-child:after {
  -webkit-animation: PointAfterDark 1s linear infinite;
  animation: PointAfterDark 1s linear infinite;
}

@-webkit-keyframes CenterAfter {
  from {
    background-color: #01C853;
    -webkit-transform: scaleX(0.5);
    transform: scaleX(0.5);
  }
  to {
    background-color: #006329;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}

@keyframes CenterAfter {
  from {
    background-color: #01C853;
    -webkit-transform: scaleX(0.5);
    transform: scaleX(0.5);
  }
  to {
    background-color: #006329;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}
@-webkit-keyframes CenterBefore {
  from {
    background-color: #31fe85;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
  }
  to {
    background-color: #01C853;
    -webkit-transform: scaleX(0.5);
    transform: scaleX(0.5);
  }
}
@keyframes CenterBefore {
  from {
    background-color: #31fe85;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
  }
  to {
    background-color: #01C853;
    -webkit-transform: scaleX(0.5);
    transform: scaleX(0.5);
  }
}
@-webkit-keyframes PointBeforeLight {
  0% {
    background-color: #01fb68;
    -webkit-transform: scaleX(0.54) skew(51deg);
    transform: scaleX(0.54) skew(51deg);
  }
  50% {
    -webkit-transform: scaleX(0.5);
    transform: scaleX(0.5);
  }
  100% {
    background-color: #01953e;
    -webkit-transform: scaleX(0.54) skew(-51deg);
    transform: scaleX(0.54) skew(-51deg);
  }
}
@keyframes PointBeforeLight {
  0% {
    background-color: #01fb68;
    -webkit-transform: scaleX(0.54) skew(51deg);
    transform: scaleX(0.54) skew(51deg);
  }
  50% {
    -webkit-transform: scaleX(0.5);
    transform: scaleX(0.5);
  }
  100% {
    background-color: #01953e;
    -webkit-transform: scaleX(0.54) skew(-51deg);
    transform: scaleX(0.54) skew(-51deg);
  }
}
@-webkit-keyframes PointAfterLight {
  from {
    background-color: #64fea3;
  }
  to {
    background-color: #01fb68;
  }
}
@keyframes PointAfterLight {
  from {
    background-color: #64fea3;
  }
  to {
    background-color: #01fb68;
  }
}
@-webkit-keyframes PointBeforeDark {
  0% {
    background-color: #01953e;
    -webkit-transform: scaleX(0.54) skew(51deg);
    transform: scaleX(0.54) skew(51deg);
  }
  50% {
    -webkit-transform: scaleX(0.5);
    transform: scaleX(0.5);
  }
  100% {
    background-color: #003014;
    -webkit-transform: scaleX(0.54) skew(-51deg);
    transform: scaleX(0.54) skew(-51deg);
  }
}
@keyframes PointBeforeDark {
  0% {
    background-color: #01953e;
    -webkit-transform: scaleX(0.54) skew(51deg);
    transform: scaleX(0.54) skew(51deg);
  }
  50% {
    -webkit-transform: scaleX(0.5);
    transform: scaleX(0.5);
  }
  100% {
    background-color: #003014;
    -webkit-transform: scaleX(0.54) skew(-51deg);
    transform: scaleX(0.54) skew(-51deg);
  }
}
@-webkit-keyframes PointAfterDark {
  from {
    background-color: #01fb68;
  }
  to {
    background-color: #01953e;
  }
}
@keyframes PointAfterDark {
  from {
    background-color: #01fb68;
  }
  to {
    background-color: #01953e;
  }
}
/*# sourceMappingURL=main.css.map */